appdirs==1.4.3
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
-e git+https://github.com/cldf/cldfbench/@35218fae227ca24cb135d11606d338bb4b59255c#egg=cldfbench
-e git+https://github.com/cldf/cldfcatalog@f26c9ac38c1ab111a55682ae83f4ac1cb03333c3#egg=cldfcatalog
-e git+https://github.com/LinguList/clldutils.git@a862d78e9145a931dec172708afd25ffd9920f7d#egg=clldutils
colorlog==4.1.0
configparser==5.0.0
-e git+https://github.com/cldf/csvw.git@f9434800b63c1067d3409e743273c19bfbf52fdd#egg=csvw
cycler==0.10.0
decorator==4.4.2
gitdb==4.0.2
idna==2.9
isodate==0.6.0
jdcal==1.4.1
kiwisolver==1.2.0
-e git+https://github.com/lingpy/lexibase.git@75bd8ce7f16c8f225a8a71d3ccb4da9e4c9a49fc#egg=lexibase
-e git+https://github.com/lingpy/lingpy.git@5d5cc32b5b02391ced9c91d53a5444696be4cf8f#egg=lingpy
-e git+https://github.com/lingpy/lingrex.git@03db1c4766c3d17559bd4a7f805959d5afb676b9#egg=lingrex
Markdown==3.2.1
matplotlib==3.2.1
networkx==2.2
newick==1.0.0
numpy==1.18.2
openpyxl==3.0.3
packaging==20.3
pluggy==0.13.1
purl==1.5
py==1.8.1
pybtex==0.22.2
pycldf==1.14.1
-e git+https://github.com/cldf-clts/pyclts@4842f1fd9613de6ef20a917dbc3bd723e8d0ffbb#egg=pyclts
-e git+https://github.com/concepticon/pyconcepticon.git@e98bb8c643f3aeb6474500f0173710d576627367#egg=pyconcepticon
pycountry==19.8.18
-e git+https://github.com/clld/pyglottolog.git@0f24f24a46d1f510c975337e4c0d8c23b357c8bd#egg=pyglottolog
-e git+https://github.com/lexibank/pylexibank.git@6d10128138acc01844793e247248eca83eedb4d6#egg=pylexibank
pyparsing==2.4.6
pytest==5.4.1
regex==2020.2.20
requests==2.23.0
rfc3986==1.3.2
segments==2.1.3
-e git+https://github.com/LinguList/chinese.git@e8a2fa57fc6940d9c27777c85dcaaf3a4dd11164#egg=sinopy
six==1.14.0
smmap==3.0.1
soupsieve==2.0
SQLAlchemy==1.3.15
tabulate==0.8.7
termcolor==1.1.0
texttable==1.6.2
tqdm==4.45.0
Unidecode==1.1.1
uritemplate==3.0.1
urllib3==1.25.8
wcwidth==0.1.9
xlrd==1.2.0