appdirs==1.4.4
bs4==0.0.1
cdstarcat==1.3.0
certifi==2020.11.8
chardet==3.0.4
cldfbench==1.2.3
cldfcatalog==1.3.0
clldutils==3.5.4
colorlog==4.6.2
configparser==5.0.1
-e git+https://github.com/cldf/csvw.git@b10174cf852b6006d8c0e129dc6966bf70509bad#egg=csvw
cycler==0.10.0
decorator==4.4.2
gitdb==4.0.5
idna==2.10
iniconfig==1.1.1
isodate==0.6.0
jdcal==1.4.1
kiwisolver==1.3.1
lingpy==2.6.6
-e git+https://github.com/lingpy/lingrex.git@9b3d7024c6b7302fbe1ffb4c4deab2db0c95d050#egg=lingrex
lxml==4.6.1
Markdown==3.3.3
matplotlib==3.3.3
networkx==2.2
newick==1.0.0
numpy==1.19.4
openpyxl==3.0.5
pluggy==0.13.1
purl==1.5
py==1.9.0
pyasjp==1.2.0
pybtex==0.23.0
pycdstar==1.0.1
pycldf==1.17.0
-e git+https://github.com/cldf-clts/pyclts@cbdb922948589670b140a0fc100fa1602f910eae#egg=pyclts
pyconcepticon==2.7.0
pycountry==20.7.3
pyglottolog==3.2.2
pylexibank==2.8.1
pyparsing==2.4.7
pytest==6.1.2
regex==2020.10.28
requests==2.24.0
rfc3986==1.4.0
segments==2.1.3
-e git+https://github.com/LinguList/chinese.git@b6b6372dbf08dc15cc6e58ea9f8ab25975b6e5c7#egg=sinopy
six==1.15.0
smmap==3.0.4
soupsieve==2.0.1
SQLAlchemy==1.3.20
tabulate==0.8.7
termcolor==1.1.0
tqdm==4.51.0
Unidecode==1.1.1
uritemplate==3.0.1
urllib3==1.25.11
wcwidth==0.2.5
xlrd==1.2.0