appdirs==1.4.4
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
cldfbench==1.5.0
cldfcatalog==1.3.0
clldutils==3.7.0
colorlog==4.8.0
csvw==1.10.1
decorator==4.4.2
gitdb==4.0.5
greenlet==1.0.0
idna==2.10
iniconfig==1.1.1
isodate==0.6.0
lingpy==2.6.7
lxml==4.6.3
Markdown==3.3.4
networkx==2.5
newick==1.0.0
numpy==1.20.1
openpyxl==3.0.7
pluggy==0.13.1
purl==1.5
py==1.10.0
pybtex==0.24.0
pycldf==1.21.0
pyclts==3.0.2
pyconcepticon==2.7.0
pycountry==20.7.3
pyglottolog==3.3.0
-e git+https://github.com/lexibank/pylexibank.git@d9b234625b868cc82b70461f144ba5e3cb9f04e2#egg=pylexibank
pytest==6.2.2
regex==2021.3.17
requests==2.25.1
rfc3986==1.4.0
segments==2.2.0
six==1.15.0
smmap==3.0.5
soupsieve==2.2.1
SQLAlchemy==1.4.2
tabulate==0.8.9
termcolor==1.1.0
tqdm==4.59.0
uritemplate==3.0.1
urllib3==1.26.4
wcwidth==0.2.5
xlrd==2.0.1
zenodoclient==0.3.0